<div class="portfolio">
	<div class="avatar-section">
		<div class="avatar">
			<img src="/media/images/bqc_palma.jpg"/>
		</div>
		<h1>Quang-Hop Bui</h1>

		<div class="subtext">
			<span>Ph.D. Student // Research Associate</span><br/>
			<a href="https://www.tuhh.de/softsec/">Institute of Software Security</a><br/>
			<a href="https://www.tuhh.de">Hamburg University of Technology, Germany</a>
		</div>

		<div class="contact-icons" style="display:inline">
			<a href="mailto:cuong.bui@tuhh.de" target="_blank" rel="noopener" title="Email">{{ partial "svg.html" (dict "context" . "name" "email") }}</a>&nbsp;
			<a href="https://github.com/bqcuong" target="_blank" rel="noopener" title="Github">{{ partial "svg.html" (dict "context" . "name" "github") }}</a>&nbsp;
			<a href="https://scholar.google.com/citations?user=RgxTMKwAAAAJ&sortby=pubdate" target="_blank" rel="noopener" title="Google Scholar">{{ partial "svg.html" (dict "context" . "name" "googlescholar") }}</a>&nbsp;
			<a href="https://linkedin.com/in/bqcuong" target="_blank" rel="noopener" title="Linkedin">{{ partial "svg.html" (dict "context" . "name" "linkedin") }}</a>&nbsp;
			<a href="https://www.flickr.com/photos/193185180@N02/" target="_blank" rel="noopener" title="Flickr">{{ partial "svg.html" (dict "context" . "name" "flickr") }}</a>
		</div>
	</div>
</div>
